# Database
DATABASE_URL="postgresql://user:password@localhost:5432/shifokor_lda?schema=public"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# Environment
NODE_ENV="development"


