# Server sozlamalari
PORT=3000

# OpenAI API Key
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE

# Telegram Bot sozlamalari
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
TELEGRAM_ADMIN_ID=YOUR_TELEGRAM_ADMIN_ID_HERE

