# Server sozlamalari
PORT=3000

# OpenAI API Key
OPENAI_API_KEY=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

# Telegram Bot sozlamalari
TELEGRAM_BOT_TOKEN=8580856771:AAHovcQPabenL1f9UOAN6bEpcNcOR95-JKA
TELEGRAM_ADMIN_ID=7716143588

